src/com/dexels/navajo/server/listener/wsdl/sample2.wsdl

<definitions targetNamespace="http://www.dexels.nl/navajo/webservice.xsd" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:esns="navajo:webservice:types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.dexels.nl/navajo/webservice.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <types>
        <xsd:schema targetNamespace="http://www.dexels.nl/navajo/webservice.xsd">
            <xsd:simpleType name="selectedoption">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="0"/>
                    <xsd:enumeration value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="selection">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="option">
                        <xsd:complexType>
                            <xsd:attribute name="name" type="xsd:string"/>
                            <xsd:attribute name="value" type="xsd:string"/>
                            <xsd:attribute name="selected" type="tns:selectedoption"/>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="SelectGlobals">
                <xsd:sequence>
                    <xsd:element name="PersonId" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Parameters">
                <xsd:sequence>
                    <xsd:element name="PersonId" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ClubMembership">
                <xsd:sequence>
                    <xsd:element name="PersonId" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DatabaseStatus">
                <xsd:sequence>
                    <xsd:element name="DatabaseProductName" type="xsd:string"/>
                    <xsd:element name="DatabaseVersion" type="xsd:string"/>
                    <xsd:element name="DatabaseSchemaOwner" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="ProcessReq">
        <part name="SelectGlobals" type="tns:SelectGlobals"/>
    </message>
    <message name="ProcessRes">
        <part name="Parameters" type="tns:Parameters"/>
        <part name="ClubMembership" type="tns:ClubMembership"/>
        <part name="DatabaseStatus" type="tns:DatabaseStatus"/>
    </message>
    <portType name="member_ProcessGetClubMemberships_PortType">
        <operation name="Process">
            <input message="tns:ProcessReq" name="ProcessReq"/>
            <output message="tns:ProcessRes" name="ProcessRes"/>
        </operation>
    </portType>
    <binding name="member_ProcessGetClubMemberships_Binding" type="tns:member_ProcessGetClubMemberships_PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="Process">
            <soap:operation soapAction="member/ProcessGetClubMemberships"/>
            <input name="ProcessReq">
                <soap:body namespace="http://www.dexels.nl/navajo/webservice.xsd" use="literal"/>
            </input>
            <output name="ProcessRes">
                <soap:body namespace="http://www.dexels.nl/navajo/webservice.xsd" use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="member_ProcessGetClubMemberships">
        <documentation>
            Dit is de documentatie</documentation>
        <port binding="tns:member_ProcessGetClubMemberships_Binding" name="member_ProcessGetClubMemberships_Port">
            <soap:address location="http://ficus:3000/sportlink/knvb/servlet/SOAPMan"/>
        </port>
    </service>
</definitions>