src/com/dexels/navajo/server/listener/wsdl/sample2.wsdl

<definitions targetNamespace="http://www.dexels.nl/navajo/webservice.xsd" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:esns="navajo:webservice:types" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.dexels.nl/navajo/webservice.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <types>
        <xsd:schema targetNamespace="http://www.dexels.nl/navajo/webservice.xsd">
            <xsd:simpleType name="selectedoption">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="0"/>
                    <xsd:enumeration value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="selection">
                <xsd:sequence>
                    <xsd:element maxOccurs="unbounded" minOccurs="0" name="option">
                        <xsd:complexType>
                            <xsd:attribute name="name" type="xsd:string"/>
                            <xsd:attribute name="value" type="xsd:string"/>
                            <xsd:attribute name="selected" type="tns:selectedoption"/>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="HelloThere">
                <xsd:sequence>
                    <xsd:element name="Name" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Result">
                <xsd:sequence>
                    <xsd:element name="Name" type="xsd:string"/>
                    <xsd:element name="Status" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="ProcessReq">
        <part name="HelloThere" type="tns:HelloThere"/>
    </message>
    <message name="ProcessRes">
        <part name="Result" type="tns:Result"/>
    </message>
    <portType name="ProcessAap_PortType">
        <operation name="Process">
            <input message="tns:ProcessReq" name="ProcessReq"/>
            <output message="tns:ProcessRes" name="ProcessRes"/>
        </operation>
    </portType>
    <binding name="ProcessAap_Binding" type="tns:ProcessAap_PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="Process">
            <soap:operation soapAction="ProcessAap"/>
            <input name="ProcessReq">
                <soap:body namespace="http://www.dexels.nl/navajo/webservice.xsd" use="literal"/>
            </input>
            <output name="ProcessRes">
                <soap:body namespace="http://www.dexels.nl/navajo/webservice.xsd" use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="ProcessAap">
        <documentation>Dit is de documentatie</documentation>
        <port binding="tns:ProcessAap_Binding" name="ProcessAap_Port">
            <soap:address location="http://localhost:8080//NavajoServer/SOAPMan"/>
        </port>
    </service>
</definitions>
