src/com/dexels/navajo/server/listener/wsdl/sample.wsdl

<definitions targetNamespace="http://www.dexels.nl/navajo/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:esns="http://www.dexels.nl/navajo/schemas/" xmlns:nav="http://www.dexels.com/xsd/navajo" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.dexels.nl/navajo/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <types>
        <xsd:schema targetNamespace="http://www.dexels.nl/navajo/schemas/">
            <xsd:import namespace="http://www.dexels.com/xsd/navajo" schemaLocation=""/>
            <xsd:complexType name="Ideal">
                <xsd:sequence>
                    <xsd:element name="MerchantId" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Issuers">
                <xsd:sequence>
                    <xsd:element name="List" type="nav:option"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </types>
    <message name="ProcessRequest">
        <part name="Ideal" type="esns:Ideal"/>
    </message>
    <message name="ProcessResponse">
        <part name="Issuers" type="esns:Issuers"/>
    </message>
    <portType name="ideal_ProcessGetBanks_PortType">
        <operation name="Process">
            <input message="tns:ProcessRequest" name="ProcessRequest"/>
            <output message="tns:ProcessResponse" name="ProcessResponse"/>
        </operation>
    </portType>
    <binding name="ideal_ProcessGetBanks_Binding" type="tns:ideal_ProcessGetBanks_PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="Process">
            <soap:operation soapAction="ideal/ProcessGetBanks"/>
            <input name="ProcessRequest">
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:dexels-navajo" use="encoded"/>
            </input>
            <output name="ProcessResponse">
                <soap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:dexels-navajo" use="encoded"/>
            </output>
        </operation>
    </binding>
    <service name="ideal_ProcessGetBanks">
        <documentation>
            Dit is de documentatie</documentation>
        <port binding="tns:ideal_ProcessGetBanks_Binding" name="ideal_ProcessGetBanks_Port">
            <soap:address location="http://ficus:3000/sportlink/knvb/servlet/SOAPMan"/>
        </port>
    </service>
</definitions>