dev/com.dexels.navajo.dev.navadoc/dtd/log4j.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSPY v5 rel. 2 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="appender">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="errorHandler" ref="errorHandler" minOccurs="0" maxOccurs="1"/>
        <xs:element name="param" ref="param" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="layout" ref="layout" minOccurs="0" maxOccurs="1"/>
        <xs:element name="filter" ref="filter" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="appender-ref" ref="appender-ref" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:ID" use="required"/>
      <xs:attribute name="class" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="appender-ref">
    <xs:complexType>
      <xs:attribute name="ref" type="xs:IDREF" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="category">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="param" ref="param" minOccurs="0" maxOccurs="unbounded"/>
        <xs:choice minOccurs="0" maxOccurs="1">
          <xs:element name="priority" ref="priority"/>
          <xs:element name="level" ref="level"/>
        </xs:choice>
        <xs:element name="appender-ref" ref="appender-ref" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="class" type="xs:string"/>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="additivity" default="true">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="true"/>
            <xs:enumeration value="false"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="categoryFactory">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="param" ref="param" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="class" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="errorHandler">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="param" ref="param" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="root-ref" ref="root-ref" minOccurs="0" maxOccurs="1"/>
        <xs:element name="logger-ref" ref="logger-ref" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="appender-ref" ref="appender-ref" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="class" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="filter">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="param" ref="param" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="class" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="layout">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="param" ref="param" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="class" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="level">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="param" ref="param" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="class" type="xs:string"/>
      <xs:attribute name="value" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="ndc" type="xs:string"/>
  <xs:element name="event">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="message" ref="message"/>
        <xs:element name="ndc" ref="ndc" minOccurs="0" maxOccurs="1"/>
        <xs:element name="throwable" ref="throwable" minOccurs="0" maxOccurs="1"/>
        <xs:element name="locationInfo" ref="locationInfo" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="logger" type="xs:string" use="required"/>
      <xs:attribute name="level" type="xs:string" use="required"/>
      <xs:attribute name="thread" type="xs:string" use="required"/>
      <xs:attribute name="timestamp" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="eventSet">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="event" ref="event" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="version" default="1.2">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="1.1"/>
            <xs:enumeration value="1.2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="includesLocationInfo" default="true">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="true"/>
            <xs:enumeration value="false"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="locationInfo">
    <xs:complexType>
      <xs:attribute name="class" type="xs:string" use="required"/>
      <xs:attribute name="method" type="xs:string" use="required"/>
      <xs:attribute name="file" type="xs:string" use="required"/>
      <xs:attribute name="line" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="message" type="xs:string"/>
  <xs:element name="throwable" type="xs:string"/>
  <xs:element name="logger">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="level" ref="level" minOccurs="0" maxOccurs="1"/>
        <xs:element name="appender-ref" ref="appender-ref" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:ID" use="required"/>
      <xs:attribute name="additivity" default="true">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="true"/>
            <xs:enumeration value="false"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="logger-ref">
    <xs:complexType>
      <xs:attribute name="ref" type="xs:IDREF" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="param">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="value" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="priority">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="param" ref="param" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="class" type="xs:string"/>
      <xs:attribute name="value" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="renderer">
    <xs:complexType>
      <xs:attribute name="renderedClass" type="xs:string" use="required"/>
      <xs:attribute name="renderingClass" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="param" ref="param" minOccurs="0" maxOccurs="unbounded"/>
        <xs:choice minOccurs="0" maxOccurs="1">
          <xs:element name="priority" ref="priority"/>
          <xs:element name="level" ref="level"/>
        </xs:choice>
        <xs:element name="appender-ref" ref="appender-ref" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="root-ref">
    <xs:complexType/>
  </xs:element>
  <xs:element name="configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="renderer" ref="renderer" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="appender" ref="appender" minOccurs="0" maxOccurs="unbounded"/>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="category" ref="category"/>
          <xs:element name="logger" ref="logger"/>
        </xs:choice>
        <xs:element name="root" ref="root" minOccurs="0" maxOccurs="1"/>
        <xs:element name="categoryFactory" ref="categoryFactory" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute name="threshold" default="null">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="all"/>
            <xs:enumeration value="debug"/>
            <xs:enumeration value="info"/>
            <xs:enumeration value="warn"/>
            <xs:enumeration value="error"/>
            <xs:enumeration value="fatal"/>
            <xs:enumeration value="off"/>
            <xs:enumeration value="null"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="debug" default="null">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="true"/>
            <xs:enumeration value="false"/>
            <xs:enumeration value="null"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>
