dev/com.dexels.navajo.dev.navadoc/dtd/navadoc-config.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- $Id$ -->
<!-- edited with XMLSPY v5 rel. 2 U (http://www.xmlspy.com) by pino (pino) -->
<!--DTD generated by XMLSPY v5 rel. 2 U (http://www.xmlspy.com)-->
<!ELEMENT appender (param*, layout)>
<!ATTLIST appender
  name (R | STDOUT) #REQUIRED
  class (org.apache.log4j.ConsoleAppender | org.apache.log4j.RollingFileAppender) #REQUIRED
>
<!ELEMENT appender-ref EMPTY>
<!ATTLIST appender-ref
  ref (R | STDOUT) #REQUIRED
>
<!ELEMENT category (priority, appender-ref)>
<!ATTLIST category
  name CDATA #REQUIRED
>
<!ELEMENT configuration (property+, exclusions)>
<!ELEMENT dir EMPTY>
<!ATTLIST dir
  name CDATA #REQUIRED
>
<!ELEMENT exclusions (dir)>
<!ATTLIST exclusions
  description CDATA #REQUIRED
>
