dtd/navadoc-config.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- $Id$ -->
<!-- edited with XMLSPY v5 rel. 2 U (http://www.xmlspy.com) by pino (pino) -->
<!--W3C Schema generated by XMLSPY v5 rel. 2 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:log4j="http://jakarta.apache.org/log4j" elementFormDefault="qualified">
  <xs:import namespace="http://jakarta.apache.org/log4j" schemaLocation="log4j.xsd"/>
  <xs:element name="navadoc">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="configuration" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="log4j:configuration" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="configuration">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="property" maxOccurs="unbounded"/>
        <xs:element ref="exclusions" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="dir">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="exclusions">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="dir"/>
      </xs:sequence>
      <xs:attribute name="description" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="property">
    <xs:complexType>
      <xs:attribute name="name" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="css-uri"/>
            <xs:enumeration value="indent"/>
            <xs:enumeration value="project-name"/>
            <xs:enumeration value="services-path"/>
            <xs:enumeration value="stylesheet-path"/>
            <xs:enumeration value="target-path"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="description" type="xs:string" use="optional"/>
      <xs:attribute name="value" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="configuration"/>
</xs:schema>
