schemas/navascript.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- $Id$ -->
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.dexels.com/navascript"
  xmlns:navascript="http://www.dexels.com/navascript"
  xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://mail.dexels.nl:8080/schema/xml.xsd"/>
  <xs:element name="tsl">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element ref="navascript:import"/>
        <xs:element ref="navascript:param"/>
        <xs:element ref="navascript:map"/>
        <xs:element ref="navascript:message"/>
        <xs:element ref="navascript:methods"/>
        <xs:element ref="navascript:comment"/>
        <xs:element ref="navascript:debug"/>
      </xs:choice>
      <xs:attribute name="notes" type="xs:string"/>
      <xs:attribute name="author" type="xs:string"/>
      <xs:attribute name="repository" type="xs:string"/>
      <xs:attribute name="id" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="import">
    <xs:complexType>
      <xs:attribute name="script" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="message">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element ref="navascript:import"/>
        <xs:element ref="navascript:property"/>
        <xs:element ref="navascript:map"/>
        <xs:element ref="navascript:message"/>
        <xs:element ref="navascript:comment"/>
        <xs:element ref="navascript:debug"/>
        <xs:element ref="navascript:param"/>
        <xs:element ref="navascript:break"/>
      </xs:choice>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute default="1" name="count" type="xs:integer"/>
      <xs:attribute name="condition" type="xs:string"/>
      <xs:attribute name="type" type="xs:string"/>
      <xs:attribute name="mode">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="lazy"/>
            <xs:enumeration value="ignore"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="map">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element ref="navascript:import"/>
        <xs:element ref="navascript:param"/>
        <xs:element ref="navascript:field"/>
        <xs:element ref="navascript:property"/>
        <xs:element ref="navascript:message"/>
        <xs:element ref="navascript:map"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="navascript:request"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="navascript:response"/>
        <xs:element maxOccurs="1" minOccurs="0" ref="navascript:running"/>
        <xs:element ref="navascript:break"/>
        <xs:element ref="navascript:comment"/>
        <xs:element ref="navascript:debug"/>
      </xs:choice>
      <xs:attribute name="name" type="xs:string"/>
      <xs:attribute name="object" type="xs:string"/>
      <xs:attribute name="ref" type="xs:string"/>
      <xs:attribute name="condition" type="xs:string"/>
      <xs:attribute name="filter" type="xs:string"/>
      <xs:attribute name="comment" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="property">
    <xs:complexType>
      <xs:choice minOccurs="0">
        <xs:element ref="navascript:import"/>
        <xs:element maxOccurs="unbounded" ref="navascript:expression"/>
        <xs:element ref="navascript:map"/>
        <xs:element maxOccurs="unbounded" ref="navascript:option"/>
        <xs:element maxOccurs="unbounded" ref="navascript:comment"/>
        <xs:element ref="navascript:debug"/>
      </xs:choice>
      <xs:attribute name="comment" type="xs:string"/>
      <xs:attribute name="description" type="xs:string"/>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="type">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="boolean"/>
            <xs:enumeration value="date"/>
            <xs:enumeration value="float"/>
            <xs:enumeration value="integer"/>
            <xs:enumeration value="selection"/>
            <xs:enumeration value="string"/>
            <xs:enumeration value="money"/>
            <xs:enumeration value="clocktime"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="direction">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="in"/>
            <xs:enumeration value="out"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="length" type="xs:integer"/>
      <xs:attribute name="cardinality" type="xs:integer"/>
      <xs:attribute name="value" type="xs:string"/>
      <xs:attribute name="condition" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="field">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="navascript:import"/>
        <xs:element maxOccurs="unbounded" minOccurs="1" ref="navascript:expression"/>
        <xs:element maxOccurs="1" minOccurs="1" ref="navascript:map"/>
      </xs:choice>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="condition" type="xs:string"/>
      <xs:attribute name="comment" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="param">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="navascript:import"/>
        <xs:element maxOccurs="unbounded" ref="navascript:expression"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="condition" type="xs:string"/>
      <xs:attribute name="length" type="xs:string" use="optional"/>
      <xs:attribute name="comment" use="optional"/>
      <xs:attribute name="direction">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="in"/>
            <xs:enumeration value="out"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="type" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="option">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="value" type="xs:string" use="required"/>
      <xs:attribute name="selected">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="condition" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="expression">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute name="value" type="xs:string" use="optional"/>
          <xs:attribute name="condition" type="xs:string"/>
          <xs:attribute name="comment" type="xs:string"/>
          <xs:attribute ref="xml:space" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="methods">
    <xs:complexType>
      <xs:choice>
        <xs:element ref="navascript:import"/>
        <xs:element maxOccurs="unbounded" ref="navascript:method"/>
      </xs:choice>
      <xs:attribute name="condition" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="method">
    <xs:complexType>
      <xs:sequence maxOccurs="unbounded" minOccurs="0">
        <xs:element ref="navascript:required"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="description" type="xs:string" use="optional"/>
      <xs:attribute name="condition" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="required">
    <xs:complexType>
      <xs:attribute name="message" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="comment">
    <xs:complexType>
      <xs:attribute name="value" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="debug">
    <xs:complexType>
      <xs:attribute name="value" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="break">
    <xs:complexType>
      <xs:attribute name="condition" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="request">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element ref="navascript:import"/>
        <xs:element ref="navascript:param"/>
        <xs:element ref="navascript:field"/>
        <xs:element ref="navascript:property"/>
        <xs:element ref="navascript:message"/>
        <xs:element ref="navascript:map"/>
        <xs:element ref="navascript:comment"/>
        <xs:element ref="navascript:debug"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
  <xs:element name="response">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element ref="navascript:import"/>
        <xs:element ref="navascript:param"/>
        <xs:element ref="navascript:field"/>
        <xs:element ref="navascript:property"/>
        <xs:element ref="navascript:message"/>
        <xs:element ref="navascript:map"/>
        <xs:element ref="navascript:comment"/>
        <xs:element ref="navascript:debug"/>
      </xs:choice>
      <xs:attribute name="while_running" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="true"/>
            <xs:enumeration value="false"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="running">
    <xs:complexType>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element ref="navascript:import"/>
        <xs:element ref="navascript:param"/>
        <xs:element ref="navascript:field"/>
        <xs:element ref="navascript:property"/>
        <xs:element ref="navascript:message"/>
        <xs:element ref="navascript:map"/>
        <xs:element ref="navascript:comment"/>
        <xs:element ref="navascript:debug"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>
