tipi/com.dexels.navajo.tipi/testsrc/tests/instantiateDispose/tipi.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="block">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="allActions">
                    <xs:attribute use="required" name="expression" type="xs:string"/>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="allActions">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element ref="block"/>
            <xs:element name="unloadNavajo">
                <xs:complexType>
                    <xs:attribute use="required" default="[string]" name="service"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="injectNavajo">
                <xs:complexType>
                    <xs:attribute use="required" default="[string]" name="service"/>
                    <xs:attribute use="required" default="[navajo]" name="navajo"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="loadNavajoList">
                <xs:complexType>
                    <xs:attribute default="[context]" name="context"/>
                    <xs:attribute default="[string]" name="service"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="animate">
                <xs:complexType>
                    <xs:attribute use="required" default="[property]" name="target"/>
                    <xs:attribute use="required" name="value"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="performMethod">
                <xs:complexType>
                    <xs:attribute default="[tipi]" name="tipipath"/>
                    <xs:attribute use="required" default="[string]" name="method"/>
                    <xs:attribute default="[string]" name="destination"/>
                    <xs:attribute default="[boolean]" name="fireevent"/>
                    <xs:attribute default="[boolean]" name="breakOnError"/>
                    <xs:attribute default="[integer]" name="expirationInterval"/>
                    <xs:attribute default="[string]" name="hostUrl"/>
                    <xs:attribute default="[string]" name="username"/>
                    <xs:attribute default="[string]" name="password"/>
                    <xs:attribute default="[string]" name="keystore"/>
                    <xs:attribute default="[string]" name="keypass"/>
                    <xs:attribute default="[boolean]" name="condense"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="linkProperty">
                <xs:complexType>
                    <xs:attribute use="required" default="[reference]" name="master"/>
                    <xs:attribute use="required" default="[reference]" name="slave"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="loadStateNavajo">
                <xs:complexType>
                    <xs:attribute default="[context]" name="context"/>
                    <xs:attribute default="[string]" name="service"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="declareAlias">
                <xs:complexType>
                    <xs:attribute use="required" default="[string]" name="name"/>
                    <xs:attribute use="required" default="[string]" name="value"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="setSelectedValue">
                <xs:complexType>
                    <xs:attribute use="required" default="[reference]" name="property"/>
                    <xs:attribute default="[string]" name="value"/>
                    <xs:attribute default="[string]" name="name"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="break">
                <xs:complexType/>
            </xs:element>
            <xs:element name="setLength">
                <xs:complexType>
                    <xs:attribute use="required" default="[property]" name="property"/>
                    <xs:attribute use="required" default="[integer]" name="length"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="setStorageInstanceId">
                <xs:complexType>
                    <xs:attribute use="required" default="[string]" name="id"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="showWarning">
                <xs:complexType>
                    <xs:attribute use="required" default="[string]" name="text"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="dumpSchema">
                <xs:complexType/>
            </xs:element>
            <xs:element name="setLocale">
                <xs:complexType>
                    <xs:attribute use="required" default="[string]" name="locale"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="clearCache">
                <xs:complexType/>
            </xs:element>
            <xs:element name="execute">
                <xs:complexType>
                    <xs:attribute use="required" default="[string]" name="command"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="dumpStack">
                <xs:complexType/>
            </xs:element>
            <xs:element name="loadExtensions">
                <xs:complexType>
                    <xs:attribute default="[context]" name="context"/>
                    <xs:attribute default="[string]" name="service"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="injectMessage">
                <xs:complexType>
                    <xs:attribute use="required" default="[string]" name="service"/>
                    <xs:attribute use="required" default="[message]" name="message"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="setType">
                <xs:complexType>
                    <xs:attribute use="required" default="[property]" name="property"/>
                    <xs:attribute use="required" default="[string]" name="propertyType"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateExpressions">
                <xs:complexType>
                    <xs:attribute default="[tipi]" name="path"/>
                    <xs:attribute default="[navajo]" name="navajo"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="sleep">
                <xs:complexType>
                    <xs:attribute use="required" default="[integer]" name="time"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="fireEvent">
                <xs:complexType>
                    <xs:attribute use="required" default="[tipi]" name="path"/>
                    <xs:attribute use="required" default="[string]" name="type"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="addPropertyToMessage">
                <xs:complexType>
                    <xs:attribute use="required" default="[string]" name="path"/>
                    <xs:attribute use="required" name="value"/>
                    <xs:attribute use="required" default="[message]" name="message"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="showInfo">
                <xs:complexType>
                    <xs:attribute use="required" default="[string]" name="text"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="flushCache">
                <xs:complexType/>
            </xs:element>
            <xs:element name="removeMessage">
                <xs:complexType>
                    <xs:attribute use="required" default="[message]" name="message"/>
                    <xs:attribute use="required" default="[integer]" name="index"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="breakEvent">
                <xs:complexType/>
            </xs:element>
            <xs:element name="instantiate">
                <xs:complexType>
                    <xs:attribute use="required" default="[string]" name="name"/>
                    <xs:attribute default="[string]" name="expectType"/>
                    <xs:attribute use="required" default="[string]" name="id"/>
                    <xs:attribute use="required" default="[tipi]" name="location"/>
                    <xs:attribute default="[boolean]" name="force"/>
                    <xs:attribute default="[string]" name="constraint"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="insertMessage">
                <xs:complexType>
                    <xs:attribute use="required" default="[message]" name="message"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="link">
                <xs:complexType>
                    <xs:attribute use="required" default="[property]" name="master"/>
                    <xs:attribute use="required" default="[property]" name="slave"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="attribute">
                <xs:complexType>
                    <xs:attribute use="required" default="[component]" name="path"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="dumpNavajo">
                <xs:complexType>
                    <xs:attribute use="required" default="[navajo]" name="input"/>
                    <xs:attribute default="[string]" name="fileName"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="setUsername">
                <xs:complexType>
                    <xs:attribute use="required" default="[string]" name="username"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="debug">
                <xs:complexType>
                    <xs:attribute name="value"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="setClientLocale">
                <xs:complexType>
                    <xs:attribute use="required" default="[string]" name="locale"/>
                    <xs:attribute default="[string]" name="context"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="setPostman">
                <xs:complexType>
                    <xs:attribute use="required" default="[string]" name="server"/>
                    <xs:attribute use="required" default="[string]" name="username"/>
                    <xs:attribute use="required" default="[string]" name="password"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="disposePath">
                <xs:complexType>
                    <xs:attribute use="required" default="[string]" name="path"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="setPassword">
                <xs:complexType>
                    <xs:attribute use="required" default="[string]" name="password"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="setDirection">
                <xs:complexType>
                    <xs:attribute use="required" default="[property]" name="property"/>
                    <xs:attribute use="required" default="[string]" name="direction"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="dispose">
                <xs:complexType>
                    <xs:attribute use="required" default="[tipi]" name="path"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="setCardinality">
                <xs:complexType>
                    <xs:attribute use="required" default="[property]" name="property"/>
                    <xs:attribute use="required" default="[string]" name="cardinality"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="createNavajo">
                <xs:complexType>
                    <xs:attribute use="required" default="[string]" name="name"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="reloadNavajo">
                <xs:complexType>
                    <xs:attribute default="[tipi]" name="to"/>
                    <xs:attribute default="[tipi]" name="from"/>
                    <xs:attribute default="[navajo]" name="service"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="setSubLocale">
                <xs:complexType>
                    <xs:attribute use="required" default="[string]" name="locale"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="setValue">
                <xs:complexType>
                    <xs:attribute use="required" default="[reference]" name="to"/>
                    <xs:attribute use="required" default="[string]" name="from"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="debugNavajo">
                <xs:complexType>
                    <xs:attribute use="required" default="[tipi]" name="tipipath"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="instantiateClass">
                <xs:complexType>
                    <xs:attribute use="required" default="[string]" name="class"/>
                    <xs:attribute default="[string]" name="id"/>
                    <xs:attribute use="required" default="[string]" name="location"/>
                    <xs:attribute default="[boolean]" name="force"/>
                    <xs:attribute default="[string]" name="constraint"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="loadComponentNavajo">
                <xs:complexType>
                    <xs:attribute default="[context]" name="context"/>
                    <xs:attribute default="[string]" name="service"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="showError">
                <xs:complexType>
                    <xs:attribute use="required" default="[string]" name="text"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="setCookie">
                <xs:complexType>
                    <xs:attribute default="[string]" name="name"/>
                    <xs:attribute default="[string]" name="value"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="setDescription">
                <xs:complexType>
                    <xs:attribute use="required" default="[property]" name="property"/>
                    <xs:attribute use="required" default="[string]" name="description"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="setHTTPS">
                <xs:complexType>
                    <xs:attribute default="[binary]" name="keystore"/>
                    <xs:attribute default="[string]" name="passphrase"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateAllExpressions">
                <xs:complexType>
                    <xs:attribute use="required" default="[tipi]" name="path"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="addProperty">
                <xs:complexType>
                    <xs:attribute use="required" default="[string]" name="path"/>
                    <xs:attribute use="required" name="value"/>
                    <xs:attribute use="required" default="[navajo]" name="navajo"/>
                    <xs:attribute default="[string]" name="direction"/>
                    <xs:attribute default="[string]" name="description"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="performTipiMethod">
                <xs:complexType>
                    <xs:attribute use="required" default="[tipi]" name="path"/>
                    <xs:attribute use="required" default="[string]" name="name"/>
                    <xs:anyAttribute processContents="skip"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="disposeChildren">
                <xs:complexType>
                    <xs:attribute use="required" default="[tipi]" name="path"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="setSystemProperty">
                <xs:complexType>
                    <xs:attribute use="required" default="[string]" name="name"/>
                    <xs:attribute default="[string]" name="value"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="callService">
                <xs:complexType>
                    <xs:attribute use="required" default="[string]" name="service"/>
                    <xs:attribute default="[boolean]" name="cached"/>
                    <xs:attribute default="[string]" name="connector"/>
                    <xs:attribute default="[string]" name="destination"/>
                    <xs:attribute default="[navajo]" name="input"/>
                    <xs:attribute default="[boolean]" name="breakOnError"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="http.attribute">
                <xs:complexType>
                    <xs:attribute use="required" default="{component:/.}" name="path"/>
                    <xs:attribute use="optional" default="[server]" name="server"/>
                    <xs:attribute use="optional" default="[username]" name="username"/>
                    <xs:attribute use="optional" default="[password]" name="password"/>
                    <xs:attribute use="optional" default="[keystore]" name="keystore"/>
                    <xs:attribute use="optional" default="[storepass]" name="storepass"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="timer.start">
                <xs:complexType>
                    <xs:attribute use="required" default="{component:/.}" name="path"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="timer.stop">
                <xs:complexType>
                    <xs:attribute use="required" default="{component:/.}" name="path"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="timer.attribute">
                <xs:complexType>
                    <xs:attribute use="required" default="{component:/.}" name="path"/>
                    <xs:attribute use="optional" default="[interval]" name="interval"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="headlessbutton.fireAction">
                <xs:complexType>
                    <xs:attribute use="required" default="{component:/.}" name="path"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="filter.attribute">
                <xs:complexType>
                    <xs:attribute use="required" default="{component:/.}" name="path"/>
                    <xs:attribute use="optional" default="[messagePath]" name="messagePath"/>
                    <xs:attribute use="optional" default="[simpleFilter]" name="simpleFilter"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="copy.copy">
                <xs:complexType>
                    <xs:attribute use="required" default="{component:/.}" name="path"/>
                    <xs:attribute default="[resource]" name="source"/>
                    <xs:attribute default="[resource]" name="target"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="conditionchecker.instantiate">
                <xs:complexType>
                    <xs:attribute use="required" default="{component:/.}" name="location" type="xs:string"/>
                    <xs:attribute use="required" default="[definition name]" name="name" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="http.instantiate">
                <xs:complexType>
                    <xs:attribute use="required" default="{component:/.}" name="location" type="xs:string"/>
                    <xs:attribute use="required" default="[definition name]" name="name" type="xs:string"/>
                    <xs:attribute default="[string]" name="server" type="xs:string"/>
                    <xs:attribute default="[string]" name="username" type="xs:string"/>
                    <xs:attribute default="[string]" name="password" type="xs:string"/>
                    <xs:attribute default="[string]" name="keystore" type="xs:string"/>
                    <xs:attribute default="[string]" name="storepass" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="timer.instantiate">
                <xs:complexType>
                    <xs:attribute use="required" default="{component:/.}" name="location" type="xs:string"/>
                    <xs:attribute use="required" default="[definition name]" name="name" type="xs:string"/>
                    <xs:attribute default="[integer]" name="interval" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="messagestore.instantiate">
                <xs:complexType>
                    <xs:attribute use="required" default="{component:/.}" name="location" type="xs:string"/>
                    <xs:attribute use="required" default="[definition name]" name="name" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="headlessbutton.instantiate">
                <xs:complexType>
                    <xs:attribute use="required" default="{component:/.}" name="location" type="xs:string"/>
                    <xs:attribute use="required" default="[definition name]" name="name" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="resource.instantiate">
                <xs:complexType>
                    <xs:attribute use="required" default="{component:/.}" name="location" type="xs:string"/>
                    <xs:attribute use="required" default="[definition name]" name="name" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="tmlwriter.instantiate">
                <xs:complexType>
                    <xs:attribute use="required" default="{component:/.}" name="location" type="xs:string"/>
                    <xs:attribute use="required" default="[definition name]" name="name" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="headless.instantiate">
                <xs:complexType>
                    <xs:attribute use="required" default="{component:/.}" name="location" type="xs:string"/>
                    <xs:attribute use="required" default="[definition name]" name="name" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="filter.instantiate">
                <xs:complexType>
                    <xs:attribute use="required" default="{component:/.}" name="location" type="xs:string"/>
                    <xs:attribute use="required" default="[definition name]" name="name" type="xs:string"/>
                    <xs:attribute default="[string]" name="messagePath" type="xs:string"/>
                    <xs:attribute default="[string]" name="simpleFilter" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="copy.instantiate">
                <xs:complexType>
                    <xs:attribute use="required" default="{component:/.}" name="location" type="xs:string"/>
                    <xs:attribute use="required" default="[definition name]" name="name" type="xs:string"/>
                </xs:complexType>
            </xs:element>
        </xs:choice>
    </xs:complexType>
    <xs:element name="tid">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
                <xs:element name="tipi-include">
                    <xs:complexType>
                        <xs:attribute use="required" name="location"/>
                        <xs:attribute name="lazy"/>
                        <xs:attribute name="definition"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="tipi-config">
                    <xs:complexType>
                        <xs:attribute name="maxtoserver"/>
                        <xs:attribute name="poolsize"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="client-config">
                    <xs:complexType>
                        <xs:attribute name="name"/>
                        <xs:attribute name="impl"/>
                        <xs:attribute name="config"/>
                        <xs:attribute name="secure"/>
                        <xs:attribute name="locale"/>
                        <xs:attribute name="keystore"/>
                        <xs:attribute name="storepass"/>
                        <xs:attribute name="server"/>
                        <xs:attribute name="username"/>
                        <xs:attribute name="password"/>
                    </xs:complexType>
                </xs:element>
                <xs:element ref="tml"/>
                <xs:element name="d.conditionchecker">
                    <xs:complexType>
                        <xs:choice maxOccurs="unbounded" minOccurs="0">
                            <xs:element name="onGeneratedErrors" type="allActions"/>
                            <xs:element name="onInstantiate" type="allActions"/>
                            <xs:element name="onLoad" type="allActions"/>
                        </xs:choice>
                        <xs:attribute name="name" type="xs:string"/>
                        <xs:attribute name="constraint" type="xs:string"/>
                        <xs:attribute name="service" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="d.timer">
                    <xs:complexType>
                        <xs:choice maxOccurs="unbounded" minOccurs="0">
                            <xs:element name="onTimer" type="allActions"/>
                            <xs:element name="onInstantiate" type="allActions"/>
                        </xs:choice>
                        <xs:attribute name="name" type="xs:string"/>
                        <xs:attribute name="constraint" type="xs:string"/>
                        <xs:attribute name="service" type="xs:string"/>
                        <xs:attribute default="[integer]" name="interval" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="d.messagestore">
                    <xs:complexType>
                        <xs:choice maxOccurs="unbounded" minOccurs="0">
                            <xs:element name="onGeneratedErrors" type="allActions"/>
                            <xs:element name="onInstantiate" type="allActions"/>
                            <xs:element name="onLoad" type="allActions"/>
                        </xs:choice>
                        <xs:attribute name="name" type="xs:string"/>
                        <xs:attribute name="constraint" type="xs:string"/>
                        <xs:attribute name="service" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="d.headlessbutton">
                    <xs:complexType>
                        <xs:choice maxOccurs="unbounded" minOccurs="0">
                            <xs:element name="onInstantiate" type="allActions"/>
                            <xs:element name="onActionPerformed" type="allActions"/>
                        </xs:choice>
                        <xs:attribute name="name" type="xs:string"/>
                        <xs:attribute name="constraint" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="d.headless">
                    <xs:complexType>
                        <xs:choice maxOccurs="unbounded" minOccurs="0">
                            <xs:element ref="c.conditionchecker"/>
                            <xs:element ref="c.timer"/>
                            <xs:element ref="c.messagestore"/>
                            <xs:element ref="c.headlessbutton"/>
                            <xs:element ref="c.headless"/>
                            <xs:element ref="c.copy"/>
                            <xs:element name="onGeneratedErrors" type="allActions"/>
                            <xs:element name="onInstantiate" type="allActions"/>
                            <xs:element name="onLoad" type="allActions"/>
                        </xs:choice>
                        <xs:attribute name="name" type="xs:string"/>
                        <xs:attribute name="constraint" type="xs:string"/>
                        <xs:attribute name="service" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="d.copy">
                    <xs:complexType>
                        <xs:choice maxOccurs="unbounded" minOccurs="0">
                            <xs:element ref="c.conditionchecker"/>
                            <xs:element ref="c.timer"/>
                            <xs:element ref="c.messagestore"/>
                            <xs:element ref="c.headlessbutton"/>
                            <xs:element ref="c.headless"/>
                            <xs:element ref="c.copy"/>
                            <xs:element name="onInstantiate" type="allActions"/>
                        </xs:choice>
                        <xs:attribute name="name" type="xs:string"/>
                        <xs:attribute name="constraint" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
            </xs:choice>
            <xs:attribute name="errorhandler"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="tml">
        <xs:annotation>
            <xs:documentation>This is the top level tag</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice>
                <xs:element maxOccurs="1" ref="header" minOccurs="0"/>
                <xs:element maxOccurs="1" ref="methods" minOccurs="0"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="message"/>
            </xs:choice>
            <xs:attribute use="required" name="service" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="header">
        <xs:annotation>
            <xs:documentation>Contains the target Navajo service and username/password information</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="transaction"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="transaction">
        <xs:complexType>
            <xs:attribute use="required" name="rpc_name" type="xs:string"/>
            <xs:attribute use="required" name="rpc_usr" type="xs:string"/>
            <xs:attribute use="required" name="rpc_pwd"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="message">
        <xs:annotation>
            <xs:documentation>A message groups properties and other messages</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:choice>
                <xs:element maxOccurs="unbounded" ref="message"/>
                <xs:element maxOccurs="unbounded" ref="property"/>
            </xs:choice>
            <xs:attribute use="required" name="name" type="xs:string"/>
            <xs:attribute name="type" type="xs:string"/>
            <xs:attribute name="index" type="xs:integer"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="property">
        <xs:annotation>
            <xs:documentation>A property is the basic data element</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="option" minOccurs="0"/>
            </xs:sequence>
            <xs:attribute use="required" name="name" type="xs:string"/>
            <xs:attribute use="required" name="type">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="boolean"/>
                        <xs:enumeration value="integer"/>
                        <xs:enumeration value="selection"/>
                        <xs:enumeration value="string"/>
                        <xs:enumeration value="date"/>
                        <xs:enumeration value="float"/>
                        <xs:enumeration value="binary"/>
                        <xs:enumeration value="money"/>
                        <xs:enumeration value="clocktime"/>
                        <xs:enumeration value="stopwatchtime"/>
                        <xs:enumeration value="percentage"/>
                        <xs:enumeration value="expression"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="value" type="xs:string"/>
            <xs:attribute use="required" name="direction">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="in"/>
                        <xs:enumeration value="out"/>
                        <xs:enumeration value="inout"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="length" type="xs:integer"/>
            <xs:attribute name="cardinality" type="xs:string"/>
            <xs:attribute name="description" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="option">
        <xs:annotation>
            <xs:documentation>Used in properties of type selection to define a list of (possibly selected) name/value pairs</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute use="required" name="name" type="xs:string"/>
            <xs:attribute use="required" name="value" type="xs:string"/>
            <xs:attribute use="required" name="selected">
                <xs:simpleType>
                    <xs:restriction base="xs:NMTOKEN">
                        <xs:enumeration value="1"/>
                        <xs:enumeration value="0"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="methods">
        <xs:annotation>
            <xs:documentation>Links to possible subsequent methods</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" ref="method"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="method">
        <xs:annotation>
            <xs:documentation>A method location</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:attribute use="required" name="name" type="xs:string"/>
            <xs:attribute use="required" name="description" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="c.conditionchecker">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
                <xs:element name="onGeneratedErrors" type="allActions"/>
                <xs:element name="onInstantiate" type="allActions"/>
                <xs:element name="onLoad" type="allActions"/>
            </xs:choice>
            <xs:attribute name="id" type="xs:string"/>
            <xs:attribute name="constraint" type="xs:string"/>
            <xs:attribute name="service" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="c.timer">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
                <xs:element name="onTimer" type="allActions"/>
                <xs:element name="onInstantiate" type="allActions"/>
            </xs:choice>
            <xs:attribute name="id" type="xs:string"/>
            <xs:attribute name="constraint" type="xs:string"/>
            <xs:attribute name="service" type="xs:string"/>
            <xs:attribute default="[integer]" name="interval" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="c.messagestore">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
                <xs:element name="onGeneratedErrors" type="allActions"/>
                <xs:element name="onInstantiate" type="allActions"/>
                <xs:element name="onLoad" type="allActions"/>
            </xs:choice>
            <xs:attribute name="id" type="xs:string"/>
            <xs:attribute name="constraint" type="xs:string"/>
            <xs:attribute name="service" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="c.headlessbutton">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
                <xs:element name="onInstantiate" type="allActions"/>
                <xs:element name="onActionPerformed" type="allActions"/>
            </xs:choice>
            <xs:attribute name="id" type="xs:string"/>
            <xs:attribute name="constraint" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="c.headless">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
                <xs:element ref="c.conditionchecker"/>
                <xs:element ref="c.timer"/>
                <xs:element ref="c.messagestore"/>
                <xs:element ref="c.headlessbutton"/>
                <xs:element ref="c.headless"/>
                <xs:element ref="c.copy"/>
                <xs:element name="onGeneratedErrors" type="allActions"/>
                <xs:element name="onInstantiate" type="allActions"/>
                <xs:element name="onLoad" type="allActions"/>
            </xs:choice>
            <xs:attribute name="id" type="xs:string"/>
            <xs:attribute name="constraint" type="xs:string"/>
            <xs:attribute name="service" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="c.copy">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
                <xs:element ref="c.conditionchecker"/>
                <xs:element ref="c.timer"/>
                <xs:element ref="c.messagestore"/>
                <xs:element ref="c.headlessbutton"/>
                <xs:element ref="c.headless"/>
                <xs:element ref="c.copy"/>
                <xs:element name="onInstantiate" type="allActions"/>
            </xs:choice>
            <xs:attribute name="id" type="xs:string"/>
            <xs:attribute name="constraint" type="xs:string"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
